<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <style>
        html {
            font-family:sans-serif;
        }
        
        button {
            
        }
        
        #subscribers, #modal{
            display:none;
        }

        #modal {
            background:black;
            position:absolute;
            color:white;
            top:50%;
            left:50%;
            padding:10px;
            transform: translate(-50%,-50%);
        }
        
        #modal button {
            width: 2em;
        }
        
        #modal p {
            text-align: right;
        }
        
    </style>
    
    
    <div id="subscribers">
        
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email address</th>
                <th>Postcode</th>
                <th>Option</th>
            </tr>
            <tr v-for="user in Subs">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.postcode}}</td>
                <td>
                    <button title="Delete" class="delete" v-on:click="removeEmail(user.email)">X</button>
                    <button title="Delete" class="map" v-on:click="showMap(user.postcode)">Map</button>
                </td>
            </tr>
            <tr id="new">
                <td><input type="text" id="name"/></td>
                <td><input type="text" id="email" v-model="new_email" /></td>
                <td><input type="text" id="postcode"/></td>
                <td><button type="submit" id="add" v-on:click="submitForm($event)" v-bind:disabled="isInvalid">Add</button></td>
            </tr>
        </table>
        
       <div id='modal'>
              <p>
                {{modal_postcode}}
                <button v-on:click="closeModal($event)">X</button>
              </p>
              <img id='map' />
       </div>
        
    </div>
<script src="js/main.js"></script>
</body>
</html>
